@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.header {
  width: 100%;
  background-color: #85cb33;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actions {
  padding-top: 60px;
}
.actions p {
  font-size: 1.5rem;
}
.actions {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-around;
}
.data {
  border: 1px solid black;
  width: 70vw;
  margin: auto;
  height: 60vh;
  overflow-y: auto;
  background: #d2fca3;
  border-radius: 10px;
  font-size: 1.3rem;
  padding: 20px;
  text-align: left;
}
.buttons {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
footer {
  margin-top: 30px;
  opacity: 0.5;
}
@media (max-width: 768px) {
  footer {
    margin-top: 60px;
    opacity: 0.5;
  }
  .actions {
    padding-top: 45px;
    height: 15vh;
  }
  .actions p {
    font-size: 1rem;
  }
  .buttons button {
    font-size: 1.3rem;
  }
}
